In [236]:
from extract import extract_dataset
import pandas as pd
from clean import *

In [237]:
ADDRESS = "https://openpowerlifting.gitlab.io/opl-csv/files/openpowerlifting-latest.zip"

In [238]:
df = pd.read_csv(extract_dataset(ADDRESS))

/var/folders/tn/my7fmgyj3gx8811h_mwsw1mh0000gn/T/ipykernel_60513/1268291688.py:1: DtypeWarning: Columns (33,35,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(extract_dataset(ADDRESS))

In [240]:
replace_lift_null_data(df)
checks_best_lift(df)
calculate_total(df)
check_qualification(df)
df = rearrange_column(df, "Place")

In [ ]:
def redefine_weight_classes(df):
    male_weight_classes = ["-59", "59-66", "66-74", "74-83", ""]

In [277]:
df.loc[(df["ParentFederation"] == "IPF") & (df["Sex"] == "M")][["Sex", "BodyweightKg", "WeightClassKg"]].sample(20)

        Sex  BodyweightKg WeightClassKg
1756977   M        103.90           105
993414    M        145.80          120+
1263036   M         82.50          82.5
1223850   M         82.50          82.5
1283741   M           NaN          145+
383413    M         73.80            74
1392534   M         82.45          82.5
382494    M        102.20           105
1590229   M        103.60           110
2842369   M         99.60           100
1792240   M         92.80            93
2842515   M         96.95           100
1389565   M         98.20           100
2842727   M        106.45           120
1318341   M        110.00           110
1612968   M        125.00           125
229715    M         79.00            83
1550021   M        145.50          120+
1721419   M         82.50          82.5
477345    M        119.50           120

In [270]:
df[["Name", "Sex", "BodyweightKg", "WeightClassKg", "ParentFederation"]].sample(20)

                        Name Sex  BodyweightKg WeightClassKg ParentFederation
75347          Kari Ojalehto   M         52.00            52              IPF
321415          Blake Hanson   M        102.85           105              IPF
2648455     David Roberts #4   M         76.20          82.1              NaN
2052799            Noah King   M         81.50          82.5              IPL
2226685        Nina Eriksson   F         53.60            56              IPF
572228       Eugenio Tibaldi   M         81.76            83              IPF
496627           Jeremy Yapp   M        121.83           125              NaN
2593528     Clayton Whitmore   M         45.36          51.7              NaN
108023        Karen Towersey   F         83.00            84              IPF
600405     Vlastimil Románek   M         82.00            83              IPF
1231289              L. Hare   F         53.00            53              NaN
942056   Dmitriy Kulakhmetov   M         88.80            90              NaN
359839         Jacob Howerin   M         81.90            83              IPF
2383572          Davey Silva   M        100.00           100              NaN
1710660       Elena Baranova   F         70.65            72              IPF
547642         Tanner Gawley   M         72.30            74              IPF
2603593        Parker Eidson   M         88.45          89.8              NaN
1564106          Anke Köster   F         69.20            72              IPF
865912         Anton Sosunov   M         86.60            90             WRPF
2017646      Edward McKelvey   M        128.60           140              IPL

In [261]:
df.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2861227 entries, 0 to 2861226
Data columns (total 42 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   Name              2861227 non-null  object
 1   Sex               2861227 non-null  object
 2   Event             2861227 non-null  object
 3   Equipment         2861227 non-null  object
 4   Age               1810315 non-null  float64
 5   AgeClass          2064127 non-null  object
 6   BirthYearClass    1878877 non-null  object
 7   Division          2859798 non-null  object
 8   BodyweightKg      2824290 non-null  float64
 9   WeightClassKg     2824845 non-null  object
 10  Squat1Kg          2861227 non-null  float64
 11  Squat2Kg          2861227 non-null  float64
 12  Squat3Kg          2861227 non-null  float64
 13  Squat4Kg          2861227 non-null  float64
 14  Best3SquatKg      2861227 non-null  float64
 15  Bench1Kg          2861227 non-null  float64
 16  Bench2Kg          2861227 non-null  float64
 17  Bench3Kg          2861227 non-null  float64
 18  Bench4Kg          2861227 non-null  float64
 19  Best3BenchKg      2861227 non-null  float64
 20  Deadlift1Kg       2861227 non-null  float64
 21  Deadlift2Kg       2861227 non-null  float64
 22  Deadlift3Kg       2861227 non-null  float64
 23  Deadlift4Kg       2861227 non-null  float64
 24  Best3DeadliftKg   2861227 non-null  float64
 25  TotalKg           2861227 non-null  float64
 26  Place             2861227 non-null  object
 27  Qualified         2861227 non-null  bool
 28  Dots              2641959 non-null  float64
 29  Wilks             2641959 non-null  float64
 30  Glossbrenner      2641959 non-null  float64
 31  Goodlift          2408826 non-null  float64
 32  Tested            2109015 non-null  object
 33  Country           1615381 non-null  object
 34  State             557197 non-null   object
 35  Federation        2861227 non-null  object
 36  ParentFederation  1849170 non-null  object
 37  Date              2861227 non-null  object
 38  MeetCountry       2861227 non-null  object
 39  MeetState         2077907 non-null  object
 40  MeetTown          2504526 non-null  object
 41  MeetName          2861227 non-null  object
dtypes: bool(1), float64(22), object(19)
memory usage: 897.7+ MB

In [269]:
df.columns

Index(['Name', 'Sex', 'Event', 'Equipment', 'Age', 'AgeClass',
       'BirthYearClass', 'Division', 'BodyweightKg', 'WeightClassKg',
       'Squat1Kg', 'Squat2Kg', 'Squat3Kg', 'Squat4Kg', 'Best3SquatKg',
       'Bench1Kg', 'Bench2Kg', 'Bench3Kg', 'Bench4Kg', 'Best3BenchKg',
       'Deadlift1Kg', 'Deadlift2Kg', 'Deadlift3Kg', 'Deadlift4Kg',
       'Best3DeadliftKg', 'TotalKg', 'Place', 'Qualified', 'Dots', 'Wilks',
       'Glossbrenner', 'Goodlift', 'Tested', 'Country', 'State', 'Federation',
       'ParentFederation', 'Date', 'MeetCountry', 'MeetState', 'MeetTown',
       'MeetName'],
      dtype='object')